.calenderView_heading {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 10px;
}


.click-to-go-back {
  /* font-size: 14px; */
  color: #aaa;
  font-style: italic;
}
.task_day_navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px;
  background-color: #1f1f1f;
  border-radius: 10px;
  
}
.task_day_navigate p{
    font-size:small;
}
.calendar-table{
    color: white;
}
