.createNewTask_container {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Optional background color */
  padding: 10px; /* Add some padding for spacing */
  box-sizing: border-box;
  margin: 10px;
}

.createNewTask_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.createNewTask_buttons button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createNewTask_buttons button:hover {
  background-color: #2980b9;
}

/* .Schedule_Task_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
} */
.createNewTask_form .Schedule_Task_div {
  display: flex;
  justify-content: space-evenly;
  /* Space between Task Detail and Schedule */
  align-items: center;
  width: 100%; /* Make it span the full container width */
  margin-bottom: 20px; /* Add spacing below the section */
  padding: 10px; /* Add padding for better spacing inside */
  background-color: #373c42; /* Optional: Add a background color for better visibility */
  border-radius: 5px; /* Optional: Rounded corners */
  color: white; /* Text color */
  font-weight: 600; /* Make the text bold */
}

.createNewTask_form {
  width: 100%;
  max-width: 800px; /* Restrict width for better readability */
  display: flex;
  flex-direction: column;
  gap: 25px; /* Consistent spacing between form groups */
}

.createNewTask_form > div {
  display: flex;
  justify-content: space-between;
  gap: 5px; /* Space between label and input */
}

.createNewTask_form label {
  font-size: 14px;
  font-weight: 600;
  color: #ecf0f1; /* Slightly lighter color for labels */
  display: flex;
  align-items: start;

  gap: 5px; /* Space between icon and text */
}

.createNewTask_form input,
.createNewTask_form textarea,
.createNewTask_form select {
  width: 80%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #1f1f1f; /* Darker background for input */
  color: white;
  font-size: 14px;
}

.createNewTask_form button {
  background-color: #3341a5;
  color: white;
  border: none;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 350px;
}

.createNewTask_form button:hover {
  background-color: #3341e9;
}


/* createNewTaskSchedule Component css */

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverts the color, making it white */
  cursor: pointer; /* Optional: Changes the cursor to pointer */
}

