.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: white;
  align-items: center;
  height: 70px;
  gap: 35px;
}

.name-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin:30px 100px;
}
/* .name-search div p {
  margin-left: 30px;
} */
.search-container {
  position: relative;
}
#search-field {
  padding: 7px 30px;
  border-radius: 10px;
  background-color: #1f1f1f;
  border: 1px solid white;
  color: white;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 25%;
  color: white;
  list-style: none;
}
.profile-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-content {
  margin: 10px;
}
