.count-task {
  display: flex;
  flex-direction: column;
  color: white;
  /* background-color: black; */
}
.count_container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  padding: 15px 40px;
  border-radius: 10px;
  gap: 20px;
  background-color: #1f1f1f;
  color: white;
}
.count_logo {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 4px;
  /* margin: 1px; */
  border-radius: 50%;
  background-color: rgb(163, 160, 160);
}
.count_title {
  display: flex;
  color: white;
  /* flex: 0.95; */
}
