.heading_signup {
  height: 70px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  padding-left: 70px;
}
.signup_div_1 {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.signup_div_2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; /* 10 x 0.25rem */
  margin: 0.5rem; /* 2 x 0.25rem */
  padding: 15rem; /* 56 x 0.25rem */
  justify-content: center;
  align-items: center; /* Center items vertically */
  border: 2px solid black; /* 2px border with black color */
  text-align: center; /* Center text horizontally */
  width: 24rem; /* Width of 96 x 0.25rem */
  height: 24rem; /* Height of 96 x 0.25rem */
  border-radius: 0.75rem; /* Rounded corners */
  background-color: #1f1f1f;
}
.sign_heading {
  font-weight: bold;
  font-size: 26px;
}
.sign_form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* Space between child elements */
  padding: 0.75rem; /* Padding on all sides */
  margin: 0.5rem; /* Margin on all sides */
}
.signup_input {
  padding: 0.5rem 3rem; /* Padding on all sides */
  border-radius: 0.75rem; /* Rounded corners */
}
.input_password {
  position: relative;
}
.input_password button {
  border-radius: 0.5rem; /* Rounded corners */
  font-weight: 100; /* Thin font weight */
  position: absolute; /* Absolute positioning */
  right: 0.5rem; /* Distance from the right edge */
  top: 0.6rem; /* Distance from the top edge */
}
.signup_btn {
  padding: 0.6rem 2rem; /* Padding on all sides */
  border-radius: 0.75rem; /* Rounded corners */
  background-color: #3341A5; /* Medium blue background */
  border: none;
  color: #ffffff; /* White text */
  font-weight: 700; /* Bold font weight */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.signup_btn:hover {
  background-color: blue;
}
.hide_icon_btn {
  border: none;
}
.hide_icon {
  text-decoration: none;
  width: 1rem; /* Width of the element */
  height: 0.9rem; /* Height of the element */
  opacity: 0.5;
  cursor: pointer;
}
.login_link_div {
  padding: 2px;
}
.login_link_div p .login_link {
  text-decoration: none; /* Removes the underline from the link */
  color: orange; /* Sets the text color to orange */
}

.login_link_div p .login_link:hover {
  color: darkorange; /* Optional: Changes the color when hovering */
}
.confirm_password_error {
  color: red;
  margin: 1px;
}
.login_parent {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
