* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}
.left-container {
  width: 20%;
  height: 100%;
}
.right-container {
  width: 80%;
  height: 100%;
}
